html {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(50, 50, 50);
  color: white;
}

body {
  margin: 0;
}

/* navbar */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

.social li {
  float: left;
}

/* main */
main {
  width: 50%;
  padding-right: 25%;
  padding-left: 25%;
  padding-top: 50px;
}

/* text */
h1 {
  position: relative;
  color: white;
}

.h1-blog {
  padding-top: 50px;
}

p {
  font-size: 16px;
  line-height: 1.5em;
  text-align: justify;
}

/* links */
a {
  color: #2e9cca;
}

a:hover {
  color: #2e9cca;
  text-decoration: underline;
}

/* footer */
footer {
  width: 50%;
  padding-right: 25%;
  padding-left: 25%;
  text-align: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 20px;
}

.hr-post {
  border-top: 1px solid #2e9cca;
}

.time {
  font-style: italic;
}