body {
  font-family: "Nunito Sans", sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  background-color: white;
  color: #333;
  position: relative;
  font-weight: 300;
  margin: 0px;
  font-size: 18px;
  border-top: 5px solid #398fdb;
  border-bottom: 5px solid #398fdb;
}

main {
  width: 90vw;
  max-width: 700px;
  margin: auto;
  margin-top: -5px;
  margin-bottom: -5px;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

img {
  margin-top: 20px;
}

/* Navigation bar
------------------------------------ */
ul.topnav {
  width: 90vw;
  max-width: 700px;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  padding-top: 10px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
}

ul.topnav li a::before {
  color: #333;
}

ul.topnav li.right { float: right; padding-left: 14px; }

/* Index page
------------------------------------ */
.index-div {
  text-align: center;
}

.index-div h3 {
  margin-block-start: 0px;
  margin-block-end: 60px;
  text-transform: none;
}

.index-div h1 {
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 5px;
}

.index-links {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-left: 0px;
  font-size: 36px;
  align-content: center;
}

.index-links li {
  text-align: left;
  margin: auto;
  width: 200px;
}

.index-link-text {
  font-family: "Nunito Sans", sans-serif;
  margin-left: 10px;
}

.index-links a {
  margin-top: 5px;
  float: left;
}

.index-links a:hover {
  text-decoration: none;
  color: #333;
}

.fa-twitter:before {
  color: #1DA1F2;
}

.fa-linkedin:before {
  color: #0072b1;
}

.fa-github:before {
  color: #333;
}

/* Headers
------------------------------------ */
h1 {
  position: relative;
  margin-top: 25px;
  margin-block-end: auto;
  margin-bottom: 18px;
  line-height: 1.2;
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  margin-block-end: 0.5%;
  margin-block-start: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  margin-block-end: 0.5%;
  margin-block-start: 25px;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
}

.time {
  font-size: 16px;
  margin-bottom: 10px;
  color: grey;
}


/* Paragraphs
------------------------------------ */
p {
  font-size: 18px;
  line-height: 1.5em;
  text-align: justify;
  margin-block-start: 1.4%;
  margin-bottom: 10px;
}

p a {
  color: #398fdb;
}

/* Links
------------------------------------ */
a {
  font-size: 20;
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #398fdb;
  text-decoration: underline;
}

.tweet-button {
  text-align: center;
  height: 40px;
}

/* Footer
------------------------------------ */
footer {
  width: 100%;
  text-align: center;
  font-size: 16px;
  height: 50px;
  position: absolute;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #398fdb;
  font-size: 16px;
}

.post-footer {
  position: relative;
  margin-top: 50px;
}

/* hr */
.hr-post {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0; 
  border-top: 1px solid #333;
}

.hr-index {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* For mobile
------------------------------------ */
@media (max-width: 450px) {
  ul.topnav li a {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
  
  ul.topnav li.right {
    float: left;
    padding-left: 0px;
  }

  ul.topnav {
    width: 120px;
    text-align: left;
    margin-left: 5px;
    padding-top: 20px;
  }

  .index-div h1 {
    margin-top: 50px;
  }

  .index-div ul {
    margin-block-end: 6em;
  }

  footer {
    position: relative;
    height: 80px;
  }

  .post-footer {
    position: relative;
    height: 80px;
  }
}