body {
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
  color: black;
  position: relative;
  font-weight: 400;
  margin: 0px;
}

main {
  width: 90vw;
  max-width: 700px;
  margin: auto;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

/* Navigation bar
------------------------------------ */
ul.topnav {
  width: 90vw;
  max-width: 700px;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
  background-color: rgba(0,0,0,0);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
}

ul.topnav li a::before {
  color: black;
}

ul.topnav li.right {float: right; padding-left: 16px; font-size: 18px;}
ul.topnav li.icons { font-size: 18px; margin-top: 2px;}

/* Index page
------------------------------------ */
.index-div {
  text-align: center;
}

.index-div h3 {
  margin-block-start: 10px;
}

.index-div h1 {
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 80px;
}

.index-links {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-left: 0px;
  font-weight: 500;
  font-size: 30px;
  align-content: center;
}

.index-links li {
  width: 150px;
  text-align: left;
  margin: auto;
}

.index-links a {
  margin-top: 10px;
  color: #398fdb;
  font-size: 30px;
}

.index-links a:hover {
  text-decoration: none;
  color: black;
}

.fa-twitter:before {
  color: #1DA1F2;
}

.fa-linkedin:before {
  color: #0072b1;
}

.fa-github:before {
  color: black;
}

/* Headers
------------------------------------ */
h1 {
  position: relative;
  color: black;
  margin-top: 25px;
  margin-block-end: auto;
  margin-bottom: 18px;
  font-weight: 600;
  line-height: 1.2;
  font-size: 30px;
}

.h1-blog {
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.2;
}

.post-title {
  font-weight: 500;
}

h2 {
  margin-block-end: 0.5%;
  margin-block-start: 10px;
  font-weight: 600;
}

h3 {
  margin-block-end: 0.5%;
  margin-block-start: 25px;
  font-weight: 600;
  font-size: 22px;
}

/* Paragraphs
------------------------------------ */
p {
  font-size: 18px;
  line-height: 1.5em;
  text-align: justify;
  margin-block-start: 1.4%;
  margin-bottom: 10px;
}

p a {
  color: #398fdb;
}

/* Links
------------------------------------ */
a {
  font-size: 20;
  color: black;
  text-decoration: none;
}

a:hover {
  color: #398fdb;
  text-decoration: underline;
}

.read-more {
  font-size: 18px;
}

.tweet-button {
  text-align: center;
}

/* Footer
------------------------------------ */
footer {
  width: 100%;
  text-align: center;
  font-size: 16px;
  height: 25px;
  position: absolute;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #398fdb;
  font-size: 16px;
}

.post-footer {
  position: relative;
  margin-top: 50px;
}

/* hr */
.hr-post {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0; 
  border-top: 1px solid black;
}

.hr-index {
  margin-top: 20px;
  margin-bottom: 20px;
}

.time {
  font-size: 16px;
  margin-bottom: 10px;
  color: grey;
}

.hello {
  margin-bottom: 5px;
  line-height: 1em;
}

.bio {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

img {
  margin-top: 20px;
}