{{ partial "header.html" . }}
<main>
    {{ partial "navbar.html" . }}
    <div>
        {{ range .Pages.ByDate.Reverse }}
        {{ if not .Params.hidden }}
        <article>
            <h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
            <div class="time">{{ .Date.Format "January 2, 2006" }}</div>
            <p>{{ .Description }}</p>
            <a href="{{ .Permalink }}" title="{{ .Title }}">Read more...</a>
            <hr class="hr-index" />
        </article>
        {{ end }}
        {{ end }}
    </div>
     <div class="post-footer">
  {{ partial "footer.html" . }}
</div>
</main>