<main>
  {{ partial "header.html" . }} 
  {{ partial "navbar.html" . }}
  <a class="read-more" href="{{ .Site.BaseURL }}/{{ .Section }}">Back to posts</a>
  <article>
    <h1>{{ .Title }}</h1>
    <div class="time">{{ .Date.Format "Jan 2, 2006" }}</div>
    <hr class="hr-post" />
    {{ .Content }}
  </article>
  <br />
  <div class=tweet-button>
  <a
    href="https://twitter.com/share?ref_src=twsrc%5Etfw"
    class="twitter-share-button"
    data-text="{{ .Title }}"
    data-via="villevalt"
    data-show-count="false"
  ></a>
</div>
  <div class="post-footer">
  {{ partial "footer.html" . }}
</div>
</main>
