<header>
    <nav>
        <ul class="main">
            <li><a href="https://villev.io">{{ .Site.Title }}</a></li>
        </ul>
        <ul class="social">
            <li>
                <a class="fa fa-linkedin" href="https://www.linkedin.com/in/valtonenville1/" target="_blank"></a>
            </li>
            <li>
                <a class="fa fa-github" href="https://github.com/villeval" target="_blank"></a>
            </li>
            <li>
                <a class="fa fa-twitter" href="https://twitter.com/villevalto" target="_blank"></a>
            </li>
        </ul>
    </nav>
</header>