<header>
    <ul class="topnav">
        <li><a href="{{ .Site.BaseURL }}">Ville Valtonen</a></li>
        <li class="icons right">
            <a class="fab fa-twitter" href="https://twitter.com/villevalto" target="_blank"></a>
        </li>
        <li class="icons right">
            <a class="fab fa-github" href="https://github.com/villeval" target="_blank"></a>
        </li>
        <li class="icons right">
            <a class="fab fa-linkedin" href="https://www.linkedin.com/in/valtonenville1/" target="_blank"></a>
        </li>
        <li class="right"><a href="{{ .Site.BaseURL }}/posts/about">About</a></li>
        <li class="right"><a href="{{ .Site.BaseURL }}">Blog</a></li>
    </ul>
</header>