<header>
  <ul class="topnav">
    <li><a href="{{ .Site.BaseURL }}">VILLE VALTONEN</a></li>
    <!-- <li class="icons right" >
      <a 
        href="{{ .Site.BaseURL }}/index.xml" 
        title="RSS Feed" 
        class="fas fa-rss"
        target="_blank"></a>
    </li>
    <li class="icons right">
      <a
        class="fab fa-linkedin"
        href="https://www.linkedin.com/in/vvaltonen/"
        target="_blank"
      ></a>
    </li>
    <li class="icons right">
      <a
        class="fab fa-github"
        href="https://github.com/villevaltonen"
        target="_blank"
      ></a>
    </li>
    <li class="icons right">
      <a
        class="fab fa-twitter"
        href="https://twitter.com/villevalt"
        target="_blank"
      ></a>
    </li> -->
    <li class="right"><a href="{{ .Site.BaseURL }}/posts/">WRITING</a></li>
    <li class="right">
      <a href="{{ .Site.BaseURL }}/about/author">ABOUT</a>
    </li>
  </ul>
</header>
