{{ partial "header.html" . }}
<main>
  {{ partial "navbar.html" . }}
    <div class="index-div">
        <h1 class="h1">VILLE VALTONEN</h1>
        <h3>Sofware Engineer</h3>
        <ul class="index-links">
            <li>
              <a
                class="fab fa-twitter"
                href="https://twitter.com/villevalt"
                target="_blank"
              ></a><span class="index-link-text">TWEETS</span>
            </li>
            <li>
              <a
                class="fab fa-github"
                href="https://github.com/villevaltonen"
                target="_blank"
              ></a><span class="index-link-text">CODE</span>
            </li>
            <li>
              <a
                class="fab fa-linkedin"
                href="https://www.linkedin.com/in/vvaltonen/"
                target="_blank"
              ></a><span class="index-link-text">WORK</span>
            </li>
          </ul>
    </div>
    <div class="index-footer">
      {{ partial "footer.html" . }}
    </div>
</main>