{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<main>
    <div>
        <h1 class="hello">Hi there!</h1>
        <p class="bio">
            I'm Ville, a software engineer with passion for
            programming, system
            architectures and site reliability engineering. Always
            learning and
            improving.
        </p>

        <h1 class="h1-blog">Featured</h1>
        {{ range .Site.RegularPages.ByDate.Reverse }}
        {{ if .Params.featured }}
        <article>
            <h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
            <div class="time">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
            <p>{{ .Description }}</p>
            <a class="read-more" href="{{ .Permalink }}" title="{{ .Title }}">Read more...</a>
        </article>
        {{ end }}
        {{ end }}

        <h1 class="h1-blog">Blog</h1>
        {{ range .Site.RegularPages.ByDate.Reverse }}
        {{ if not .Params.featured }}
        {{ if not .Params.hidden }}
        <article>
            <h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
            <div class="time">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
            <p>{{ .Description }}</p>
            <a class="read-more" href="{{ .Permalink }}" title="{{ .Title }}">Read more...</a>
            <hr class="hr-index" />
        </article>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</main>

{{ partial "footer.html" . }}